

#screenshot-window {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}

div.screenshot-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  min-height: 35px;
  width: 100%;
}

div.screenshot-title h5#screenshot-title {
  flex: 1 1 auto;
  min-width: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#screenshot-window div.tab {
  overflow-y: auto;
  overflow-x: hidden;
}

#screenshot-window .tab {
  height: 100%;
}




