app/*.min.js
build

**/node_modules

vendor/pako/lib/utils/*.min.js
vendor/pako/lib/zlib/*.min.js
vendor/*.min.js

css/css-dist
js/js-dist
./node_modules

xterm/node_modules
xterm/dist/
xterm/dist/*

core/**/*.min.js

**/.vscode
utils/node_modules
version.json


dev

legacy

css/main.min.css
app.min.js

app.js

index.html
app.html