@import "@{global}";

#settings-window #localisation-tab { 
	display: none; 
	overflow: auto;
}

#settings-window #localisation-tab h6 {
	color: @tertiary;
}

#settings-window #localisation-tab span {
	display: block;
	.allow-select();
	text-align: left;
	margin-bottom: 0.5rem;
}
#map {
	height: 420px;
	border-radius: @radius-lg;
	overflow: hidden;
	border: 1px solid rgba(255, 255, 255, 0.10);
}

@media screen and (max-height: 1360px) {
	#map {
		height: 285px;
	}
}

@media screen and (max-height: 1090px) {
	#map {
		height: 135px;
	}
}